spring:
  application:
    name: Book System
  datasource:
    url: jdbc:h2:mem:booksystem
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8081